@import './variables.scss';

.blogWrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.hero {
  text-align: center;
}

.heroInner {
  width: 100%;
  height: 50vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapper {
  padding: 5rem 0 10rem;
  .container {
    @extend %container;
  }
  @media (max-width: $break-s) {
    padding: 2rem 0 10rem;
  }
}

.date {
  color: #999;
}

// PrevNext
.pnWrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
  @extend %container;
  @media (max-width: $break-s) {
    flex-wrap: wrap;
  }
  .linkCard {
    display: flex;
    justify-content: center;
    border: 2px solid var(--color-primary);
    width: 100%;
    padding: 2rem 5rem;
    color: inherit;
    &:hover {
      opacity: 0.8;
    }
  }
}

.btnRev {
  a {
    color: var(--color-primary);
  }
}
